*
{
    margin: 0%;
    box-sizing: border-box;
}

header
{
    position: sticky;
    top: 0;
    background-color: #05080e;
    z-index: 100;

}

body
{
    background-color: #0f172a;
    font-family: sans-serif;
    color: aliceblue;

}

.content
{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

aside
{
    padding-top: 5rem;
    padding-left: 2rem;
    position: sticky;
    top: 0;
    align-self: start;
    flex-direction: column;
}

.typewriter h3
{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #FF5C00;
    margin: 0%;
    letter-spacing: .15em;
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    justify-content: left;
    width: fit-content;
}

@keyframes typing 
{
    from { width: 0 }
    to { width: 100% }
}


@keyframes blink-caret 
{
    from, to { border-color: transparent }
    50% { border-color: orange }  
}

html
{
    scroll-behavior: smooth;
}

main
{

}

main p
{
    
}

.top-nav
{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.imgLinks
{
    padding-top: 5rem;
}

.imgLinks a
{
    padding: 5px;
}

.imgLinks img
{
    max-width: 25px;
    height: auto;
}

#about
{
  --s: 20px;
  border: 8px solid  #FF5C00; 
  mask: 
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
    0 0/calc(100% - var(--s)) calc(100% - var(--s));
    padding: 5px;


    margin-bottom: 4rem;
}

#experience
{
    --s: 20px;
    border: 8px solid  #1F51FF; 
    mask: 
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
      0 0/calc(100% - var(--s)) calc(100% - var(--s));
      padding: 5px;


      margin-bottom: 4rem;
}

#projects
{
    --s: 20px;
    border: 8px solid  #ff073a; 
    mask: 
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
      0 0/calc(100% - var(--s)) calc(100% - var(--s));
      padding: 5px;


      margin-bottom: 4rem;
}

.projects-year1
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 1rem;
}

.projects-year1 div
{
    border-radius: 15px;
    background: #ff073a;

}

.projects-year1 a
{
    text-decoration: none;
}


.projects-year1 a:hover
{
    opacity: 0.9;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}


.projects-year1 img
{
    max-width: 200px;
    width: auto;
    align-content: center;
    
}


#portfolio
{
    --s: 20px;
    border: 8px solid  #CFFF04; 
    mask: 
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
      0 0/calc(100% - var(--s)) calc(100% - var(--s));
      padding: 5px;


      margin-bottom: 4rem;
}



footer
{
    padding: 2rem 2rem;
    color: aliceblue;
    text-align: center;
}

.menu
{
    display: flex;
    flex-direction: column;
    padding-block: 1rem;
    
}

a
{
    padding: 0.5rem 0;
    text-decoration: none;
    color: white;
    display: inline;
}

.menu a:hover
{
    text-decoration: underline white 5px;

}

footer img
{
    max-width: 20px;
    max-height: 20px;
}


.footer-links
{
    display: flex;
    justify-content: center;
}