:root {
    --primary-color: #FF5C00;
    --secondary-color: #1F51FF;
    --background-color: #0f172a;
    --font-family: "OpenDyslexic", "Arial", sans-serif, "Play";
    --border-radius: 8px;
  }

*
{
    margin: 0%; 
    box-sizing: border-box;
}

body
{
    background-color: var(--background-color);
    font-family: "OpenDyslexic", "Play",Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: aliceblue;
}

header
{
    position: sticky;
    top: 0;
    background-color: #05080e;
    z-index: 100;
} 

header img{
    max-width: 3rem;
    display: flex;
}
.logo {
    font-family: "Play", serif;
    font-weight: 700;
    font-size: 35px;
    font-style: normal;
}
  
main
{
    display: grid;  
    grid-template-columns: 1fr 5fr 1fr; 
}

.content-container
{
    grid-column: 2/3;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #0f172a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5rem;
    margin: 1rem 0 0 1rem;
  }


.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #05080e;
    color: aliceblue;
    padding: 10px 15px;
    border: none;
  }

.typewriter
{
    font-size: 13px;
}



.typewriter h3
{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid #FF5C00;
    margin: 0%;
    letter-spacing: .15em;
    animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
    justify-content: left;
    width: fit-content;
}

@keyframes typing 
{
    from { width: 0 }
    to { width: 100% }
}


@keyframes blink-caret 
{
    from, to { border-color: transparent }
    50% { border-color: orange }  
}

html
{
    scroll-behavior: smooth;
}

.top-nav
{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.imgLinks
{
    padding-top: 5rem;
}

.imgLinks a
{
    padding: 5px;
}

.imgLinks img
{
    max-width: 25px;
    height: auto;
}

#about
{
  --s: 20px;
  border: 8px solid  #FF5C00; 
  mask: 
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
    0 0/calc(100% - var(--s)) calc(100% - var(--s));
    padding: 5px;


    margin-bottom: 4rem;

}

#experience
{
    --s: 20px;
    border: 8px solid  #00F0FF; 
    mask: 
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
      0 0/calc(100% - var(--s)) calc(100% - var(--s));
      padding: 5px;


      margin-bottom: 4rem;
}

#projects
{
    --s: 20px;
    border: 8px solid  #FF003C; 
    mask: 
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
      0 0/calc(100% - var(--s)) calc(100% - var(--s));
      padding: 5px;


      margin-bottom: 4rem;

}

.projects-year1
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 1rem;
}

.projects-card
{
    border-radius: 15px;
    background: #cc0033 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 8px;
    padding: 1rem;
    width: 200px;
    max-width: 200px;
}

.projects-year1 a
{
    text-decoration: none;
} 


.projects-year1 a:focus, a:hover
{
    opacity: 0.9;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1); 
    transform: scale(1.1); 
}


.projects-year1 img
{
    max-width: 200px;
    width: auto;
    align-content: center;
    
}


#portfolio
{
    --s: 20px;
    border: 8px solid  #B026FF; 
    mask: 
      conic-gradient(#000 0 0) content-box,
      conic-gradient(at var(--s) var(--s),#0000 75%,#000 0) 
      0 0/calc(100% - var(--s)) calc(100% - var(--s));
      padding: 5px;
    
      border-radius: 5px;
      background-color: #141134;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: auto;
      width: 70%;
      margin: 0 auto;

      
}

#portfolio h2{
    text-align: center;
    margin: 1rem; 
}

form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input[type=text], input[type=password] 
{
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid aliceblue;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #005661;
    color: aliceblue;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover 
{
    background-color: #871fc4;
}

footer
{
    padding: 2rem 2rem;
    color: aliceblue;
    text-align: center;
}

.side-menu
{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    padding: 1rem;
    font-size: 1.2rem;
}

.side-menu a:hover
{
    text-decoration: underline;
    text-underline-offset: 0.3em;

}

a
{
    padding: 0.5rem 0;
    text-decoration: none;
    color: white;
    display: inline;
}

.menu a:hover
{
    text-decoration: underline white 5px;

}

footer img
{
    max-width: 20px;
    max-height: 20px;
}


.footer-links
{
    display: flex;
    justify-content: center;
}

.sunnySocks-container{
    display: flex;
}


.sunnySocks-container img
{
    max-width: 80%;
}

.dropdown-btn {
    padding: 30px 20px;
    width: 100%;
    max-width: 700px;
    font-size: 16px;
    background-color: #283f75;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: left;
    box-sizing: border-box;
}

.dropdown-btn:hover {
    background-color: #1d65b0;
}

.dropdown-content {
    display: none; 
    margin-top: 10px;
    border: 1px solid aliceblue;
    background-color: aliceblue;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.dropdown-content iframe {
    width: 100%;
    height: 600px;
    border: none;
}